@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  font-family: Overpass, sans-serif;
  color: #fff;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h2 {
  margin: 1rem;
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
  text-align: center;
}

ul {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  margin: 0;
  padding: 0;
}

li {
  text-align: center;
}

p {
  text-align: left;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

body {
  margin: 0;
  background-image: linear-gradient(#ff9500, #ff5e3a);
}

section {
  display: flex;
}

.icon {
  fill: #fff;
  align-content: center;
}

svg {
  width: 8rem;
  height: 8rem;
}

a {
  text-decoration: none;
  text-align: center;
  color: #fff;
  font-size: 1.125rem;
}

.button {
  padding: 1rem;
  border: .2em solid rgba(255, 255, 255, .7);
  margin: 1.5rem;
  margin-bottom: 1rem;
}

a:hover {
  background-color: #fff;
  color: #ff5e3a;
}

@media only screen and (min-width: 38em) {

  ul {
    grid-template-columns: 1fr 1fr 1fr;
  }

  h2 {
    text-align: center;
    margin-top: 2.5rem;
    margin-bottom: 2rem;
  }

}

@media only screen and (min-width: 90em) {

  h2 {
    margin-top: 4rem;
  }

  .button {
    padding: 6vmin;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 2rem;
  }

}
